.App {
  text-align: center;
}

.App-header {
  background-color: #282f34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divider {
  width: 2px;
  height: auto;
  display: inline-block;
}

.container {
  width: calc(400px + 5vmin);
  clear: both;
  align: center;
  margin: 0 auto;
  font-size: calc(15px + 1vmin);
}

.container input {
  width: 100%;
  font-size: calc(15px + 1vmin);
  height: calc(17px + 1vmin);
  clear: both;
}

.comicList {
  width: calc(400px + 8vw);
  clear: both;
  align: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 25px;
}

.comicList h3{

}

button {
  border: 2px solid black;
  height: calc(40px + 1em);
  width: calc(75px + 2em);
  opacity: 0.9;
  transition: 0.5s;
  font-size: calc(1px + 2vmin);
  display: inline-block;
}

.navButton {
  background-color: #282f34;
  color: white;
  border: 2px solid white;
  height: calc(25px + 1em);
  width: calc(85px + 1em);
  padding: 5px 10px;
  opacity: 0.9;
  transition: 0.5s;
  font-size: calc(2px + 2vmin);
  display: inline-block;
}

button:hover {
  background-color: #282f34;
  color: white;
  opacity: 1;
}

.navButton:hover {
  background-color: white;
  color: black;
  opacity: 1;
}

button:active {
  background-color: #282c34;
  color: white;
}
